.mainMenu {
	z-Index: 200;

	-webkit-app-region: none;

	.menuContent {
		width: 250px;
	}
	ion-header {
		height: 44px;
		width: 250px;

		ion-button {
			-webkit-app-region: none;
		}
	}
	.subHeader {
		font-size: 14px;
		margin-left: 20px;
		opacity: 0.6;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	ion-icon {
		color:  #ffffff;
		font-size: 20px;
		margin-inline: 0px;
		margin-right: 12px;
	}
	ion-searchbar {
		--icon-color: var(--primary-input-text-color);
		--background: var(--primary-input-color);

		color: var(--primary-input-text-color);
	}
	ion-input {
		background-color: var(--primary-input-color);
		border-radius: 10px;

		--padding-start: 12px;

		margin-left: 20px;
		margin-right: 20px;

		width: 210px;

		color: var(--primary-input-text-color);
	}
	ion-item {
		height: 36px;
		--min-height: 36px;
	}
	ion-label {
		font-size: 16px !important;
	}
	* {
		--ion-item-color: #FFFFFF;
		--ion-text-color: #FFFFFF;
	}
}