.episodeListActions {
	display: flex;
	justify-content: space-between;
}
.episodeList {
	a {
		text-decoration: none;
		color: unset;
	}
}
.seasonSelect {
	max-width: 160px;

	@media (min-width: 340px) {
		max-width: 300px;
	}


	&::part(text), &::part(placeholder) {
		font-size: 22px;
		font-weight: 500;
		color: #000000;
		opacity: 1;
	}
	&::part(icon) {
		color: var(--primary-color);

		opacity: 1;

		scale: 1.5;
	}
}
.sortOrderSelect {
	&::part(text), &::part(placeholder) {
		font-size: 16px;
		font-weight: 500;
		color: var(--primary-color);
		opacity: 1;
	}
	&::part(icon) {
		color: var(--primary-color);

		opacity: 0;

		scale: 1.5;
	}
}
.episode {
	align-items: flex-start;
	border-left: 3px solid transparent;

	&.listened {
		--background: #F6F6F6;
		opacity: 0.6;
	}
	.listenedLabel {
		color: #000000;
		font-weight: 500;
		margin-left: 10px;

		ion-icon {
			position: relative;
			top: 2px;
		}
	}
	.listenedMarker {
		display: none;
		position: absolute;
		top: 10px;
		right: 4px;
		ion-icon {
			color: var(--ion-color-success);
			font-size: 56px;
		}
	}

	h2 {
		min-height: 26px;
		display: flex;
		align-items: center;

		align-items: start;

		max-width: 600px;

		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
				line-clamp: 2; 
		-webkit-box-orient: vertical;


		.cover {
			transition: all 0.2s;
			margin-top: 0px;
			margin-right: 6px;
		}
	}

	.cover, ion-img, .coverLoading {
		margin-top: 10px;

	}
	ion-label {
		margin-left: 10px;
	}
	.playAndProgress {
		display: flex;

		margin-top: 10px;
		align-items: center;

		.playButton, .pauseButton {
			background-color: var(--primary-color);
			display: flex;
			justify-content: center;
			align-items: center;

			padding: 3px;
			margin-right: 10px;
			border-radius: 50%;

			ion-icon {
				fill: #FFFFFF;
			}
			&.playButton {
				ion-icon {
					position: relative;
					left: 1px;
				}
			}
		}
		.progress {
			display: flex;
			
			align-items: center;
		
			font-size: 12px;
			color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.6);

			ion-icon {
				font-size: 16px;
			}
		
			.episodeProgressBarOuter {
				background-color: #CCCCCC;
				height: 10px;
				width: 100px;
	
				margin-right: 10px;
		
				.episodeProgressBarInner {
					background-color: #0176e5; /* rgba(75,205,14,0.7); */
					height: 10px;
				}
			}
		}
	}

	.date {
		font-size: 12px;
		text-transform: uppercase;
		.agoText {
			margin-left: 5px;
		}
	}
	.description {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical; 
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 600px;
		word-wrap:break-word;
		line-height: 20px;

		color: rgba(0,0,0,0.8);
	}

	&.selected {
		border-left: 3px solid var(--primary-color);
		.cover {
			
		}
		h2 {
			
		}
		/*
		--ion-item-background: var(--primary-color);
		color: #FFFFFF;

		p, .description {
			color: rgba(255,255,255,0.7);
		}
		.progress {
			color: rgba(255, 255, 255, 0.7);

			.episodeProgressBarOuter {
				background-color: #FFFFFF;

				.episodeProgressBarInner {
					background-color: #5cb85c !important;
				}
			}
		}
		*/
	}
	.cover, .coverLoading {
		margin-right: 10px;
	}
}
@media (min-width: 1024px) {
	.episodeListOuter {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;

		ion-list {
			border-radius: 5px;
			border: 1px solid #d1d3d6;
		}

		.episode {
			--padding-top: 5px;
			--padding-bottom: 5px;
			--padding-start: 10px;
			--padding-end: 0px;
			
			.cover, .coverLoading {
				width: 115px !important;
				height: 115px !important;
			}
		}
		&.selected {

		}
	}
}
/*
@media (min-width: 1600px) {
	.episodeListOuter {
		max-width: 100%;
		flex: 1;

		h1 {
			margin-left: 0px;
		}

		ion-select {
			--padding-start: 0px;
		}
	}
}
*/