.episodePage {
	.episodePageContent {
		flex: 1;

		padding-bottom: 20px;

		ion-list {
			margin-inline-start: 0px;
		}


		.episodeHeader {
			background-color: #FFFFFF;
			border-bottom: 1px solid #d1d3d6;
			padding-top: 10px;

			.episodeHeaderInner {
				display: flex;
				justify-content: center;
				align-items: center;

				padding-left: 10px;
				padding-right: 10px;

				flex-direction: column;

				gap: 20px;

				max-width: 420px;
				

				margin-left: auto;
				margin-right: auto;

				@media (min-width: 678px) {
					align-items: start;
					min-width: 400px;
					max-width: 800px;

					flex-direction: row;
				}
			}

			

			padding-bottom: 10px;

			.playerCoverContainer {
				display: flex;
				justify-content: center;
				align-items: center;

				flex: 1;

				transition: all 0.2s;
	
				max-width: 400px;
				max-height: 400px;
	
				width: 100%;
				height: calc(100% - 120px);

				@media (min-width: 678px) {
					min-width: 300px;
				}


				/*border: 2px solid #FFFFFF;*/
				border-radius: 5px;

				.chapters {
					justify-content: center;
					align-items: start;
				}

				img, .coverLoading {
					width: auto !important;
					max-width: 100%;
					height: auto !important;
					max-height: 100% !important;

					@media (min-width: 678px) {
						max-height: 250px !important;
					}
					transition: all 0.4s;

					box-shadow: 0px 3px 11px -1px rgb(0 0 0 / 18%);

					border-radius: 5px;
				}
			}
			.episodeHeaderText {
				width: 100%;
				max-width: 700px;
	
				flex: 2;

	
				ion-toolbar {
					padding-top: 0px;
				}
	
				.title-large {
					position: static;
					font-size: 26px;
					padding: 0px;
				}
			}
			.episodeButtons {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			h3 {
				margin: 0px;
				margin-left: 0px;
				color: rgba(0,0,0,0.7);
				position: static;
				bottom: 3px;
			}
			ion-chip {
				margin-inline: 0px;
			}
			ion-toolbar {
				--padding-start: 0px !important;

				ion-title {
					font-size: 36px !important;
					position: static;
				}
			}
		}
		.episodeContents {

			padding-top: 10px;

			h2 {
				margin-top: 20px;
				margin-bottom: 10px;
				padding-left: 10px;
			}

			@media (min-width: 678px) {
				max-width: 800px;

				margin-left: auto;
				margin-right: auto;

				padding-left: 10px;
				padding-right: 10px;


				h2 {
					padding-left: 0px;
				}
			}



			.description {

			}
			ion-list {
				margin-inline-end: 0px !important;
				margin-top: 20px;

				ion-item {
					/*--ion-item-background: #f0f0f0;*/
					margin-inline-end: 0px;
				}
			}
		}
	}
}