.episodeListActions {
	display: flex;
	justify-content: space-between;
}
.seasonSelect {
	max-width: 160px;


	&::part(text), &::part(placeholder) {
		font-size: 22px;
		font-weight: 500;
		color: #000000;
		opacity: 1;
	}
	&::part(icon) {
		color: var(--primary-color);

		opacity: 1;

		scale: 1.5;
	}
}
.sortOrderSelect {
	&::part(text), &::part(placeholder) {
		font-size: 16px;
		font-weight: 500;
		color: var(--primary-color);
		opacity: 1;
	}
	&::part(icon) {
		color: var(--primary-color);

		opacity: 0;

		scale: 1.5;
	}
}
.episode {
	.date {
		font-size: 12px;
		text-transform: uppercase;
		.agoText {
			margin-left: 5px;
		}
	}
	&.selected {
		--ion-item-background: var(--primary-color);
		color: #FFFFFF;

		p {
			color: rgba(255,255,255,0.7);
		}
	}
	.cover {
		width: 60px;
		height: 60px;
		margin-right: 10px;
	}
}