.categoryList {
	display: flex;

	overflow-x: auto;
	overflow-y: visible;

	padding-bottom: 20px;

	.category {
		margin-left: 20px;
		
		border-radius: 10px;
		overflow: hidden;

		min-width: 200px;


		.categoryPhoto {
			background-size: 200px;
			width: 200px;
			height: 160px;
			min-width: 140px;
		}

		.categoryName {
			flex: 1;
			padding: 20px;
			text-align: center;
			color: #FFFFFF;
			font-weight: 600;
		}
	}
}