.categoryList {

	padding-top: 10px;
	padding-bottom: 10px;

	a {
		text-decoration: none;
	}

	.category {
		margin-left: 5px;
		margin-right: 0px;
		
		min-width: 140px;
		@media (min-width: 1024px) {
			min-width: 200px;
			margin-right: 15px;
		}

		transition: all 0.2s;

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.05);
			}
		}


		.categoryPhoto {
			background-size: 200px;
			background-position: center;
			width: 140px;
			height: 180px;
			min-width: 140px;
			@media (min-width: 1024px) {
				width: 200px;
			}
			transition: all 0.2s;

			border-radius: 10px 10px 0px 0px;
		}

		.categoryName {
			flex: 1;
			padding: 20px;
			text-align: center;
			color: #FFFFFF;
			font-weight: 600;

			border-radius: 0px 0px 10px 10px;
		}
	}
}