.boostButtonContainer {
	display: flex;
	justify-content: center;
	align-items: start;
	text-align: center;

	width: 260px;

	.infoMessage {
		margin-top: 2px;
		color: #999999;
		font-size: 12px;
	}
	.filler {
		width: 40px;
	}
	.boostButtonDiv {
		width: 160px;
	}
	.configIcon {
		width: 40px;
		font-size: 30px;
		color: rgba(255,255,255,0.6);
	}
	.boostButtonDiv {
		flex: 1;
		.boostButton {
			padding: 0px;
			display: flex;
			background-color: #29bd73;
			border-radius: 10px;
			width: 100%;
			

			.buttonPrimaryAction {
				padding: 15px;
				flex: 1;
				color: #FFFFFF;

				display: flex;

				font-size: 18px;

				justify-content: center;
				align-items: center;

				text-transform: uppercase;

				ion-icon {
					font-size: 30px;
					margin-right: 10px;
					color: rgba(255,255,255,0.8);
				}
			}
			.buttonSecondaryAction {
				background-color: rgba(0,0,0,0.1);
				display: flex;
				justify-content: center;
				align-items: center;

				padding-left: 10px;
				padding-right: 10px;

				svg {
					margin-right: 0px;

					max-width: 24px;
					max-height: 24px;
				}
			}
		}
	}
}