.openPlayerBackground {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0px;
	left: 0;
	height: 100%;
	width: 100%;

	transition: all 0.7s;
	
	animation: fadeIn ease 0.7s;

	z-index: 1;
}
.player {
	background-color: var(--miniplayer-background-color);
	backdrop-filter: var(--miniplayer-backdrop-filter);
	border-top: 1px solid var(--miniplayer-border-color);
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 60px;
	z-index: 10;
	display: flex;

	transition: background-color 1s, bottom 0.5s;

	touch-action: auto;

	color: #FFFFFF;

	&.noPodcastPlaying {
		height: 0px !important;
		overflow: hidden;

		transition: background-color 1s, bottom 0.5s, height 1s;

		.controls {
			display: none;
		}
	}

	&.fullscreen {
		.mainPlayerComponents {
			display: flex;
			flex-direction: column;

			justify-content: center;
			align-items: center;
			
			max-height: calc(100% - 100px);

			flex: 1;
		}
	}
	&.mini {
		.mainPlayerComponents {
			display: flex;
			flex-direction: row;



			flex: 1;
		}
	}
	.segmentContainer {
		margin-bottom: 10px;
		height: 32px;

		ion-segment {
			--background: #dddddf;
			width: calc(100vw - 30px);

			min-width: 294px;
			max-width: 400px;

			ion-segment-button {
				--indicator-color: #FFFFFF;
	
				--color: rgba(0,0,0,0.8);
				--color-checked: #000000 !important;
			}
		}
	}
	.playerCoverContainer {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-left: 5px;
		
		transition: all 0.2s;

		img, .coverLoading {
			width: 30px;
			height: 30px;

			transition: all 0.4s;

			border-radius: 5px;
		}
	}
	.episodeSecondaryActionToolbar {
		margin-top: 10px;
		color: #000000;
		display: flex;
		gap: 20px;

		.episodeSecondaryActionButton {
			border-radius: 50%;
			padding: 8px;
			display: flex;
			justify-content: center;
			align-items: center;

			.podcastThumbnail {
				border-radius: 5px;
				box-shadow: 0px 3px 11px -1px rgb(0 0 0 / 23%);
			}
			ion-icon {
				color: #000000;
				font-size: 26px;
				pointer-events: none;
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: var(--primary-color);

					ion-icon {
						color: #FFFFFF;
					}
				}
			}
		}
	}

	.titleAndButtons {
		display: flex;
		align-items: center;
		flex-grow: 1;

		gap: 0px;

		@media (min-width: 670px) {
			gap: 20px;
		}

		.podcastInfo {
			flex: 1;
			.episodeTitle, .podcastName {
				width: 190px;
				transition: all 0.1s;

				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				flex-grow: 3;
			}
			.episodeTitle {
				color: var(--miniplayer-episode-title-color);
				font-weight: 400;
			}
			.podcastName {
				font-size: 12px;
				color: var(--miniplayer-podcast-title-color);
			}
		}
	}
	.progressBar {
		height: 2px;
		display: flex;
		position: absolute;

		bottom: -3px;
		left: 0px;
		width: 100%;


		ion-range::part(bar-active) {
			background-color: #29bd73;
		}
		ion-range::part(bar) {
			background-color: #102c50;
		}
		ion-range::part(knob) {
			background-color: #FFFFFF;
		}
		ion-range::part(pin) {
			background-color: var(--primary-color);
			color: #FFFFFF;
			width: 50px;
			height: 24px;
		
			display: flex;
			justify-content: center;
			align-items: center;
		
			top: 0px;
			left: 35px;
		
			font-size: 14px;
		
		
		}
		ion-range {
			--bar-height: 2px;
			--knob-size: 0px;
		
			--bar-border-radius: 5px;
		
			padding-inline: 0px;
		
			pointer-events: none;

			&.range-has-pin {
				padding-top: 0px;
			}
		}

		.progressText, .durationText {
			display: none;
			justify-content: center;
			align-items: center;
			color: var(--miniplayer-duration-text-color);
			font-size: 14px;
		}
	}
	.controls {
		display: flex;
		flex: 1;

		.progressAndControls {
			display: flex;
			flex-direction: column;
			flex: 1;
			width: 50px;
			max-width: 50px;
			margin-right: 10px;
			justify-content: center;
			align-items: center;

			.playerControls {
				display: flex;

				align-items: center;
				justify-content: center;
				flex: 1;

				width: 50px;
				max-width: 400px;

				gap: 5vw;

				.button {
					/* background-color: var(--primary-color); */
			
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
			
					transition: all 0.1s;
			
					&.buttonPlay, &.buttonPause, &.buttonLoad {
						width: 50px;
						height: 50px;
						max-width: 50px;
						min-width: 50px;

						background-color:  var(--miniplayer-playbutton-background-color);

						padding-left: 3px;

						svg {
							width: 30px;
							fill: var(--miniplayer-playbutton-icon-color);
						}
					}
					&.buttonLoad {
						padding-left: 0px;
					}
					&.buttonPause {
						svg {
							width: 20px;
							position: relative;
							right: 1px;
						}
					}
					&.buttonRewind, &.buttonForward {
						height: 50px;
			
						svg {
							width: 35px;
							height: 35px !important;
							fill: var(--miniplayer-button-color);
						}
					}
					&.buttonSkipBackward, &.buttonSkipForward, &.buttonExpand {
						height: 40px;
			
						svg {
							height: 25px;
							fill: var(--miniplayer-button-color);
						}
					}
				}
				.navigateToPodcastButton {
					display: none;
					.podcastThumbnail {
						border-radius: 5px;
						box-shadow: 0px 3px 11px -1px rgb(0 0 0 / 23%);
					}
				}
			}
		}
	}

	@media (min-width: 670px) {
		&.mini {
			.navigateToPodcastButton {
				display: block !important;
			}
		}
		.progressBar {
			height: auto !important;
			margin-left: auto;
			margin-right: auto;

			position: static;

			.progressText, .durationText {
				display: flex;
			}

			ion-range {
				pointer-events: all;
				--height: 8px;

				--bar-height: 5px;
				--knob-size: 15px;

				padding-inline: 16px;

				&.range-has-pin {
					padding-top: 8px;
				}
			}
		}
		.controls {
			.titleAndButtons {
				flex: 1;

				.episodeTitle, .podcastName {
					width: 190px !important;
				}
				.progressAndControls {
					width: auto;
					flex: 1;
					max-width: none;


					.progressBar {
						width: 55vw;
						max-width: 700px;
					}
					.playerControls {
						width: calc(100vw - 350px) !important;
						max-width: 600px;

						gap: 20px !important;

						.button {
							&.buttonRewind, &.buttonForward {
								width: 50px;

								svg {
									width: 30px;
									height: 30px;
								}
							}
							&.buttonSkipBackward, &.buttonSkipForward, &.buttonExpand {
								width: 30px;

								svg {
									width: 20px;
									height: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: 1024px) {
		background-color: var(--miniplayer-background-color) !important;
		border-top: 1px solid var(--miniplayer-border-color) !important;

		right: 0px;
		width: calc(100% - 250px);

		.controls {
			margin-right: 300px;
			.titleAndButtons {
				height: auto;

				.episodeTitle, .podcastName {
					width: 300px !important;
					max-width: 300px;
				}
				.progressAndControls {
					.progressBar {
						width: calc(90vw - 600px) !important;
						max-width: 700px;
					}
					.playerControls {
						width: auto !important;
						max-width: none !important;

						gap: 15px !important;

						.button {
							&.buttonPlay, &.buttonLoad, &.buttonPause {
								background-color: var(--miniplayer-playbutton-background-color);
							}
							&.buttonSkipBackward, &.buttonSkipForward, &.buttonExpand {
								width: 30px;
			
								svg {
									width: 20px;
									height: 20px;
								}
							}
							&.buttonRewind, &.buttonForward {
								width: 50px;
			
								svg {
									width: 25px;
									height: 25px;
								}
							}
						}
					}
				}
			}
		}
	}

	&.mini {
		bottom: 71px !important;

		.playerCoverContainer {
			min-width: 50px;
			margin-right: 10px;
		}
	}
	&.notPlaying {
		.buttonRewind, .buttonForward {
			width: 0px;
			margin-right: 0px;

			svg {
				width: 0px;
			}
		}
		.buttonSkipBackward, .buttonSkipForward, &.buttonExpand {
			width: 0px;

			svg {
				width: 0px;
			}
		}

	}
	&.playing {
		.controls {
			.titleAndButtons {
				flex: 1;

				.episodeTitle, .podcastName {
					flex: none;
					width: 0px;
				}
				.progressAndControls {
					width: auto;
					flex: 1;
					max-width: none;


					.playerControls {
						width: calc(100vw - 70px);
						max-width: 600px;

						.button {
							&.buttonRewind, &.buttonForward {
								min-width: 30px;
							}
							&.buttonSkipBackward, &.buttonSkipForward, &.buttonExpand {
								min-width: 30px;
							}
						}
					}
				}
			}
		}
	}

	&.fullscreen {
		position: absolute;
		bottom: 0px;
		right: 0px;
		max-width: 100%;
		max-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 15px 15px 0px 0px;
		z-Index: 9999;
		overflow: auto;
		background-color: var(--miniplayer-fullscreen-background-color) !important;
		/* background-color:  rgba(1,118,229,1) !important; */

		.podcastInfo {
			color: #000000;
			text-align: center;
		}
		.swipeableContent {
			backdrop-filter: blur(3.5px);
			-webkit-backdrop-filter: blur(3.5px);
			-moz-backdrop-filter: blur(3.5px);
			color: #000000;

			display: flex;
			flex: 1;
			width: 100vw;
			max-width: 700px;

			overflow-y: auto;

			padding-bottom: 10px;

			.swiper {
				padding-top: 5px;
				width: 100vw;

				.swiper-slide {
					height: calc(100% - 20px);
				}
				.swiper-pagination {
					bottom: 0px;
				}

				.swipeContents {
					height: 100%;
					overflow: auto;
					width: 100vw;
					max-width: 700px;
					padding-top: 10px;
					text-align: center;

					&.playingCoverArea {
						flex: 1;
						width: 100vw;
						height: 100%;
						display: flex;
						flex-direction: column;
					}

					.chapterPlayingTitle {
						text-align: center;
						margin-top: 5px;
						margin-bottom: 3px;
					}
					.chapterPlayingPeriod {
						text-align: center;
						color: #888888;
					}
				}
			}
		}
		.playerCoverContainer {
			max-width: 400px;
			max-height: 400px;
			margin-bottom: 10px;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 5px;

			margin-left: auto;
			margin-right: auto;

			width: calc(100vw - 50px) !important;
			height: calc(100vw - 50px) !important;
			max-width: min(400px,40vh);
			/*max-height: min(400px,40vh);*/
			max-height: calc(100% - 60px);

			img, .coverLoading {
				width: auto !important;
				height: 100% !important;
				max-width: unset;

				
				/*
				width: calc(100vw - 50px) !important;
				height: auto !important;

				max-width: 400px !important;
				max-height: min(400px,40vh) !important;
				*/
			}
		}
		.dragHandle {
			display: block;
		}

		.podcastInfo {
			.episodeTitle, .podcastName {
				width: 90vw !important;
				max-width: 400px;
			}
			.episodeTitle {
				font-weight: bold;
				margin-bottom: 6px;
				max-height: 40px;
			}
			.podcastName {
				max-height: 20px;
			}
		}
		.controls {
			margin-right: 0px;
			max-height: 100px;
			.titleAndButtons {
				flex-direction: column;
				height: auto;

				.episodeTitle {
					font-weight: bold;
				}
				.episodeTitle, .podcastName {
					text-align: center;
				}
				.progressAndControls {
					width: 100%;
					max-width: none;
					margin-right: 0px;

					.progressBar {
						width: 700px;
						max-width: calc(100vw - 40px) !important;

						height: auto !important;
						margin-left: 0px;
						margin-right: 0px;
					
						position: static;
					
						.progressText, .durationText {
							display: flex;
						}
					
						ion-range {
							--height: 8px;
					
							--bar-height: 5px;
							--knob-size: 15px;
					
							padding-inline: 16px;

							pointer-events: all;
					
							&.range-has-pin {
								padding-top: 8px;
							}
						}
					}
					.playerControls {
						margin-left: auto;
						margin-right: auto;
						margin-top: 15px;

						.button {
							&.buttonRewind, &.buttonForward, &.buttonSkipBackward, &.buttonSkipForward {
								min-width: 40px;
								width: 40px;

								svg {
									width: 30px;
								}
							}
						}
					}
				}
			}
		}
		.miniPlayerTitleAndButtons {
			flex-direction: column;
			flex: 1;
		}
		.episodeContent {
			background-color: #FFFFFF;
			color: #000000;
			max-width: 700px;
			margin-top: 20px;
		}

		&.playing {
			.playerCoverContainer {
				transform: scale(1.05);

				img {
					transition: all 0.2s;
					box-shadow: 0px 3px 11px -1px rgb(0 0 0 / 23%);
				}
	
				/*box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.25);*/
			}
		}
	}
}
@media (min-width: 390px) {
	.playing {
		.playerControls {
			gap: 25px !important;
		}
	}
	.fullscreen {
		.playerControls {
			gap: 10px !important;
		}
	}
}
@media (min-width: 670px) {
	.player {
		.playerControls {
			gap: 40px !important;
			.progressBar {
				max-width: 550px !important;
			}
		}
		&.fullscreen {
			.controls {
				.titleAndButtons {
					.episodeTitle, .podcastName {
						width: 100% !important;
						max-width: 400px;
					}
				}
			}
		}
		&.mini {
			.playerCoverContainer {
				padding-left: 3px;
				min-width: 70px;

				img, .coverLoading {
					width: 70px !important;
					height: 70px !important;
					min-width: 70px !important;
					min-height: 70px !important;
					max-width: 70px !important;
					max-height: 70px !important;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	.player {
		&.fullscreen {
			max-width: calc(100% - 0px) !important;
			width: 100%;
		}
		&.mini {
			bottom: 0px !important;

			.progressAndControls {
				margin-right: 200px !important;
			}
		}
	}
}
@media (any-hover: hover) {
	.player {
		.playerControls {
			.button:hover {
				transform: scale(1.2);
				svg {
					fill: var(--miniplayer-button-color-hover) !important;
				}
			}
			.buttonPlay:hover, .buttonLoad:hover, .buttonPause:hover {
				background-color: var(--miniplayer-playbutton-background-color-hover) !important;
				svg {
					fill: var(--miniplayer-playbutton-icon-color-hover) !important;
				}
				transform: scale(1.2);
			}
		}
	}
}