.onboardingSwiper {
	height: 100%;
	.swiper-slide {

		.onboardingContent {
			display: flex;
			flex-direction: column;

			height: 100%;

			.onboardingImageContainer {
				background-color: #3caea3;
				width: 100%;

				display: flex;
				justify-content: center;
				align-items: center;

				flex: 1;
				
				padding-top: 2vh;
				padding-bottom: 2vh;

				img {
					max-height: 35vh;
					/*
					-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
					filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
					*/
				}
				@media (min-height: 390px) {

				}
				@media (min-width: 768px) {
					img {
						max-height: 150px;

					}
				}
			}
			.onboardingText {
				padding: 20px;
				color: rgba(0,0,0,0.9);

				font-size: 18px;

				padding-bottom: 40px;

				h2 {
					font-size: 36px;
					color: rgba(0,0,0,1);
					margin-bottom: 15px;

					@media (min-height: 800px) {
						font-size: 36px;
					}
				}
				ul {
					li {
						margin-bottom: 5px;
					}
				}
			}
		}
	}
}