/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
:root {
	--ion-color-primary: #0176E5;
	--ion-toolbar-background: #ffffff;
	--primary-color: #0176e5;
	--primary-color-text: #FFFFFF;
	--primary-color-light: #3d95e8;
	--primary-color-dark: #00366B;

	--secondary-color-text: #333333;

	--ion-color-secondary: #f3f8ff;
	--ion-color-secondary-contrast: #0f6fff;
	--ion-color-secondary-shade: #dbeaff;
	--ion-color-secondary-tint: #dbeaff;

	--ion-color-success: #29bd73;

	--list-grid-cover-size: 140px;
	--list-scroll-cover-size: 210px;

	--grey-page-background: #eaebe9;

	--badge-color: #3554d1;

	/*--miniplayer-background-color: rgba(23,78,161,0.9); */

	/* Grey theme */
	--sidemenu-background-color: #f1f1f1;
	--sidemenu-searchbar-text-color: rgba(0,0,0,0.6);
	--sidemenu-searchbar-background-color: rgba(255,255,255,0.5);
	--sidemenu-text-color: #222222;
	--sidemenu-icon-color: var(--primary-color);
	--miniplayer-background-color: rgba(241,241,241,0.7);
	--miniplayer-border-color: #dddddd;
	--miniplayer-button-color: #4c4c4c;
	--miniplayer-playbutton-background-color: #FFFFFF;
	--miniplayer-playbutton-background-color-hover: #ff23aa;
	--miniplayer-playbutton-icon-color: #FFFFFF;
	--miniplayer-episode-title-color: rgba(0,0,0,0.8);
	--miniplayer-podcast-title-color: rgba(0,0,0,0.8);
	--miniplayer-backdrop-filter: blur(40px);

	/* Blue player */
	/*
	--miniplayer-background-color: rgba(23,78,161,1);
	--miniplayer-border-color: #123e81;
	--miniplayer-button-color: rgba(255,255,255,0.8);
	--miniplayer-playbutton-icon-color: #FFFFFF;
	--miniplayer-playbutton-background-color: var(--primary-color);
	--miniplayer-playbutton-background-color-hover: #1180e7;
	--miniplayer-episode-title-color: rgba(255,255,255,0.9);
	--miniplayer-podcast-title-color: rgba(255,255,255,0.6);
	--miniplayer-duration-text-color: rgba(255,255,255,0.9);
	*/
	
	/* 2.0 blue theme */
	--sidemenu-background-color: var(--primary-color);
	--sidemenu-searchbar-text-color: rgba(255,255,255,0.9);
	--sidemenu-searchbar-background-color: rgba(0,0,0,0.2);
	--sidemenu-text-color: #FFFFFF;
	--sidemenu-icon-color: rgba(255,255,255,0.9);

	--miniplayer-background-color: rgba(255,255,255,0.7);
	--miniplayer-fullscreen-background-color: rgba(255,255,255,1);
	--miniplayer-border-color: #dddddd;
	--miniplayer-button-color: #4c4c4c;
	--miniplayer-button-color-hover: #6c6c6c;
	--miniplayer-playbutton-background-color: var(--primary-color);
	--miniplayer-playbutton-background-color-hover: #1180e7;
	--miniplayer-playbutton-icon-color: #FFFFFF;
	--miniplayer-playbutton-icon-color-hover: #FFFFFF;
	--miniplayer-episode-title-color: rgba(0,0,0,0.8);
	--miniplayer-podcast-title-color: rgba(0,0,0,0.8);
	--miniplayer-backdrop-filter: blur(60px);
	--miniplayer-duration-text-color: rgba(0,0,0,0.9);

	--review-spot-background-color: #F5F7FB;

	--primary-input-color: #00519e;
	--primary-input-text-color: #99b9d8;

	--ion-color-medium: #E4E6EB;

	--review-stars-color-five: #78bf70;
	--review-stars-color-four: #9eda97;
	--review-stars-color-three: #f8c86a;
	--review-stars-color-two: #f79e67;
	--review-stars-color-one: #ed5656;
}
a {
	outline : none;
}
* {
	box-sizing: border-box;
	touch-action: manipulation;

	-webkit-user-select: none;
	user-select: none;

	font-family: Roboto, Helvetica, Arial, sans-serif;
}
p {
	margin-bottom: 0px;
}
ion-modal::part(backdrop) {
	
}
ion-nav-link {
	ion-icon {
		font-size: 24px;
	}
	ion-label {
		position: relative;
		bottom: 6px;
	}
}
/*
ion-content {
	--background: #f0f2f5;
}
*/

.loadingScreen {
	
}
.loadingScreenLoaded {
	animation: circle 2s normal forwards ease-in-out;
}
@keyframes circle {
	0% { clip-path: circle(100%); }
	50% { clip-path: circle(50%); }
	100% { clip-path: circle(0%); }
}

.contentCard {
	background-color: #FFFFFF;
	
	padding: 10px;
	border-top: 1px solid #d1d3d6;
	border-bottom: 1px solid #d1d3d6;

	@media (min-width: 678px) {
		border: 1px solid #d1d3d6;
		border-radius: 5px;
	}
}
.menuShadow {
	position: absolute;
	top: 0;
	left: 249px;
	width: 1px;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.3);



	@media (min-width: 1024px) {
		display: block !important;
	}
}
.centerPage {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.greyPage {
	--background: var(--grey-page-background);
	ion-content {
		--background: var(--grey-page-background);
	}
}
.heightWithoutPagePadding {
	min-height: calc(100% - 90px);
}
.playerPagePadding {
	height: 90px;
}
/*
@media (min-width: 670px) {
	.playerPagePadding {
		height: 90px !important;
	}
}
*/
.whiteShadowButton {
	--background: #FFFFFF;
	--background-hover: #D4D6DB;
	--color: rgb(0 0 0 / 75%);
	border-radius: 10px;
	box-shadow: rgb(0 0 0 / 75%) 0px 0px 0.125rem 0px, rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0px;

	&:hover {
		--color: rgb(0 0 0 / 95%);
	}
}
.greyButton {
	--background: #E4E6EB;
	--background-hover: #D4D6DB;

	--color: #333333;
	
	ion-icon {
		color: rgb(0 0 0 / 75%);
	}
	&.outline {
		--background: transparent;
		--background-hover: #D4D6DB;
		border: 1px solid #BBBBBB;
		border-radius: 10px;

		ion-icon {
			color: #666666;
		}
		&:hover {
			border: 1px solid #D4D6DB;
			ion-icon {
				color: #666666;
			}
		}
	}

}
ion-button[shape=circle] {
    --border-radius: 50%;
    width: 46px;
    height: 46px;

	--padding-start: 0;
	--padding-end: 0;
	--padding-top: 0;
	--padding-bottom: 0;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
ion-toast.podfriendToast {
	--background: var(--primary-color);
	--box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
	--color: #FFFFFF;
}
ion-split-pane {
	--side-min-width: 250px !important;
}
.split-pane-main {
	#main {
		&::part(scroll) {
			/* height: calc(100% - 60px); */
		}
		display: block;

		@media (min-width: 670px) {
			&::part(scroll) {
				/* height: calc(100% - 90px); */
			}
		}

		@media (min-width: 1024px) {
			.section {
				

			}
		}
	}
}
/**
* Hack to remove a weird ionic effect.
*/
.header-background {
	display: none;
}

.bottomTabs {
	padding-bottom: max(env(safe-area-inset-bottom),10px);
	padding-top: 10px;
}
ion-split-pane {
	--border: 0;
}
ion-menu {
	--background: var(--sidemenu-background-color);
	--ion-background-color: var(--sidemenu-background-color);
	--ion-color-base: var(--sidemenu-background-color) !important;
  
	left: 0px;

	width: 250px;
  
	ion-toolbar {
		--background: transparent;
	}
  
	ion-list {
		background: white;
	}

	ion-item-divider {
		--background: var(--sidemenu-background-color);
	}
}
.mainHeader {
	.userNameLabel {
		display: none;

		@media (min-width: 500px) {
			display: block;
			max-width: 150px;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;

		}
	}
}
.ionButtons {

}
ion-menu {
    max-width: 250px !important;
}
.desktopHeader {
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 0px;
	height: 40px;
	width: 100px;
	background-color: #FFFFFF;

	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	.windowControlButton {
		color: #999999;
		padding: 10px;
		padding-left: 15px;
		padding-right: 15px;

		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: #e6e6e6;
		}

		&.closeButton {
			padding-left: 20px;
			padding-right: 20px;

			&:hover {
				background-color: #b13435;
				color: #FFFFFF;
			}
		}
	}
}
.smoothScroll * {
	scroll-behavior: smooth;
}
.platform_desktop {
	.mainToolbar {
		--padding-end: 150px;
	}
}
.desktopPlaylist {
	min-width: 200px;
	flex-direction: column;
	background-color: var(--primary-color);
	box-shadow: -4px 3px 8px 1px rgba(0,0,0,.35);

	.header {
		background-color: #eeeeee;
		padding: 10px;
		border-bottom: 1px solid #cccccc;
	}
	.content {
		background-color: #f5f9fb;
		flex: 1;
	}
}


.cover, .coverLoading {
	background-color: #DDDDDD;
	border-radius: 5px;
	/* box-shadow: 5px 5px 17px -2px rgba(0,0,0,0.14); */
	box-shadow: 0px 0px 28px -6px rgb(0 0 0 / 29%);
}
.section {
	position: relative;
	background-color: #f0f0f0;

	padding-bottom: 0px;

	&.noPadding {
		padding-bottom: 0px;
	}

	&:nth-of-type(odd){
		background-color: var(--ion-background-color);
	}

	border-bottom: 1px solid #d5d5d5;

	.sectionInner {
		padding-top: 15px;
		padding-left: 15px;

		display: flex;
	}
	.sectionContents {
		padding-top: 15px;

		&.noPadding {
			padding-top: 0px;
		}
	}
	.sectionBody {
		font-size: 16px;
		color: #081b3b;
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;

		line-height: 24px;

		overflow: hidden;
		margin-bottom: 15px;
		margin-top: 15px;

		max-width: 500px;
	}
	.sectionSubTitle {
		color: #0263e8;
		color: var(--primary-color);
		
		font-size: 28px;

		margin-right: 6px;
	}
	.sectionTitle {
		color: #024699;
		color: #000000;
		color: var(--primary-color-dark);
		

		font-size: 28px;
		text-transform: lowercase;

		ion-spinner {
			--color: var(--primary-color);
			opacity: 0.5;

			position: relative;
			top: 6px;
			left: 7px;
		}
	}
}
.emptyListenDiv {
	margin: 16px;

	background-color: #F6f6f6;
	border: 1px solid #d1d3d6;
	width: 210px;
	padding: 10px;
	border-radius: 5px;
}

.podcastGrid, .coverSwiper {
	&.podcastGrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(146px, 1fr));

		@media (min-width: 900px) {
			grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
		}
		@media (min-width: 1600px) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}

		grid-column-gap: 10px;
	}


	a {
		text-decoration: none;
	}

	/*
	@media (min-width: 900px) {
		&.scroll {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	*/
}
.podcastGrid, .coverSwiper {
	&.coverSwiper {
		margin-bottom: 10px;


		.podcastItem {
			width: 220px;
			min-height: 300px;
			max-height: 300px;

			.deleteFromList {
				position: absolute;
				z-index: 1;
				top: 6px;
				right: 6px;
				background-color: rgba(255,255,255,0.6);
				
				backdrop-filter: blur(20px);
				box-shadow: 0px 1px 5px 0px rgb(50 50 50 / 25% );

				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0px;
				border-radius: 5px;

				ion-icon {
					font-size: 28px;
					color: rgba(0,0,0,0.6);
					
				}
			}
			&.expandedEpisode {
				min-height: 216px;
				max-height: 216px;

				.podcastInfo {
					.title {
						margin-left: 5px;
					}
					.description {
						display: -webkit-box;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;  
						overflow: hidden;

						margin-top: 5px;

						max-width: 175px;

						font-size: 14px;
						color: rgba(0,0,0,0.8);

						margin-left: 5px;
					}
					.author {
						margin-left: 5px;
					}
				}
				.episodeProgressBarOuter {
					top: 206px;
					width: 100%;
					left: 0px;

				}
			}
			.episodeDuration {
				position: absolute;
	
				top: 190px;
				right: 10px;
	
				background-color: rgba(0,0,0,1);
				color: #FFFFFF;
				font-size: 12px;
				padding: 2px;
				border-radius: 3px;
			}
			.episodeProgressBarOuter {
				position: absolute;
	
				top: 205px;
				left: 5px;
	
				border-radius: 0px 0px 5px 5px;
				overflow: hidden;
	
				background-color: rgba(255,255,255,0.6);
				width: calc(100% - 10px);
				height: 10px;
				.episodeProgressBarInner {
					transition: all 0.2s;
					background-color: var(--primary-color);
					height: 10px;
				}
			}
			&.hasProgressBar {
				.episodeDuration {
					top: 180px;
				}
			}
		}
		.swiper-slide {
			width: unset;
		}
		.swiper-pagination {
			
		}
		.swiper-button-prev {
			position: absolute;
			top: unset;
			left: 20px;
			bottom: 5px;

			@media (any-hover: none) {
				display: none;
			}
		}
		.swiper-button-next {
			position: absolute;
			top: unset;
			right: 20px;
			bottom: 5px;

			@media (any-hover: none) {
				display: none;
			}
		}
	}
	&.scroll {
		padding-left: 5px;
		padding-right: 5px;

		.title, .author {
			width: var(--list-scroll-cover-size) !important;
			max-width: var(--list-scroll-cover-size);
		}
		.cover, .coverLoading {
			width: var(--list-scroll-cover-size) !important;
			height: var(--list-scroll-cover-size) !important;

			min-width: var(--list-scroll-cover-size) !important;
			min-height: var(--list-scroll-cover-size) !important;
			max-width: var(--list-scroll-cover-size) !important;
			max-height: var(--list-scroll-cover-size) !important;
		}
	}
	.swiper-wrapper {
		padding-top: 15px;
		padding-bottom: 45px;
	}
	@media (any-hover: none) {
		&.list {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			grid-column-gap: 30px;
			grid-row-gap: 20px;

			.podcastItem {
				display: flex;
				flex-direction: row;
				margin-left: 0px;
				padding: 0px;
				width: 100%;

				.cover, .coverLoading {
					width: 60px !important;
					height: 60px !important;
					max-width: 60px;
					max-height: 60px;
					margin-right: 10px;

					font-size: 12px !important;
					padding: 0px !important;
					box-shadow: 0px 1px 5px 0px rgb(50 50 50 / 15% );
				}
				.author {
					max-width: 200px;
					display: block;
				}
				.podcastInfo {
					flex: 1;
					border-bottom: 1px solid #bbbbbb;
				}
			}
		}
		&.scroll {
			display: flex;

			overflow-x: auto;
			overflow-y: visible;

			padding-left: 5px;
			padding-right: 5px;

			.podcastItem, .coverLoading {
				max-width: var(--list-scroll-cover-size);
				min-width: var(--list-scroll-cover-size);
			}
			.loading-podcast-item, .coverLoading {
				max-width: var(--list-scroll-cover-size);
				min-width: var(--list-scroll-cover-size);
				min-height: var(--list-scroll-cover-size);
				max-height: var(--list-scroll-cover-size);
			}
		}
	}
	.podcastItem, .loading-podcast-item, .coverLoading {
		padding: 10px;
		border-radius: 5px;
		text-decoration: none;
	}
	.loading-podcast-item, .coverLoading {
		margin: 10px;
		height: 120px;
	}
	&.scroll, &.grid {
		gap: 5px;
		.podcastItem {
			
		}
	}
	.podcastItem {
		transition: all 0.5s;

		flex-direction: column;

		height: auto;
		max-height: none;
		margin-bottom: 5px;
		padding: 5px;

		&.expandedEpisode {
			background-color: #F0f0f0;
			width: 350px;

			display: flex;
			flex-direction: row;

			align-items: start;

			.podcastName {
				display: inline-block;
				max-width: 140px;

				background-color: rgba(0,0,0,0.12);
				color: rgba(0,0,0,0.87);

				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;

				font-size: 14px;

				padding: 4px;
				padding-left: 10px;
				padding-right: 10px;

				border-radius: 15px;

				margin-top: 1px;
				margin-left: 5px;
				margin-bottom: 5px;
			}

			.cover {
				max-width: 150px;


			}
		}
		&.active {
			background-color: var(--primary-color);

			.podcastName {
				background-color: rgba(255,255,255,0.12);
				color: rgba(255,255,255,0.87);
			}
			.title {
				color: #FFFFFF !important;
			}
			.author {
				color: rgba(255,255,255,0.9) !important;
			}
			.description {
				color: rgba(255,255,255,0.7) !important;
			}
			.date {
				color: #FFFFFF;
			}
		}

		.cover {
			width: 100% !important;
			height: auto !important;

			display: block;
			background-size: contain;
			background-repeat: no-repeat;
			border-radius: 5px;
			/* box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.45); */
			box-shadow: 0px 3px 11px -1px rgb(0 0 0 / 33%);

			margin-bottom: 10px;

			&.fallBack {
				width: calc(var(--list-scroll-cover-size)) !important;
				height: calc(var(--list-scroll-cover-size)) !important;
				
				display: flex;

				.fallBack1 {
					background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( rgba(0,0,0,0.1), rgba(255,255,255,0.5) );
				}
				.fallBack2 {
					background-image:  linear-gradient(135deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(225deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(315deg, rgba(0,0,0,0.2) 25%, rgba(255,255,255,0.1) 25%);
					background-position:  10px 0, 10px 0, 0 0, 0 0;
					background-size: 10px 10px;
					background-repeat: repeat;
				}
				.fallBack3 {
					background-image:  linear-gradient(135deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(225deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(315deg, rgba(0,0,0,0.2) 25%, rgba(255,255,255,0.1) 25%);
				}
				.fallBack4 {
					background-color: #e5e5f7;
					opacity: 0.8;
					background-image:  linear-gradient(135deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(225deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(45deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(315deg, rgba(0,0,0,0.1) 25%, rgba(255,255,255,0.1) 25%);
					background-position:  10px 0, 10px 0, 0 0, 0 0;
					background-size: 20px 20px;
					background-repeat: repeat;
				}
				div {
					display: flex;
					justify-content: center;
					align-items: center;

					padding: 20px;

					flex: 1;
					height: 100%;
				}
			}
		}
		.content {
			padding: 10px;
			padding-left: 0px;
			padding-right: 0px;
		}
		.podcastInfo {
			width: 100%;
			padding-left: 5px;
			padding-right: 5px;

			.title {
				font-size: 17px;
				
				color: #000000;
				
				transition: color 0.2s;
			
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;  
				overflow: hidden;
			}
			.author {
				color: #999999;
				font-size: 14px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				
				transition: color 0.2s;

				margin-top: 5px;
				margin-bottom: 5px;
			}
			.date {
				font-size: 13px;
			}
		}
		.subscribe svg, .unsubscribe svg {
			fill: #999999;
			position: relative;
			top: 2px;
		}
		.subscribe:hover svg, .unsubscribe:hover svg {
			fill: #FF0000;
		}
		.subscribe, .unsubscribe {
			float: right;
			background-color: rgba(255,255,255,0.9);
			border: 1px solid rgba(100,100,100,0.5);
			padding: 5px;
			padding-left: 7px;
			padding-right: 7px;
			margin: 10px;
		}
		.subscribeContainer {
			display: none;
			position: absolute;
			top: 10px;
			right: 15px;
		}
	}
	@media (any-hover: hover) {
		.podcastItem {
			width: 190px;
			display: flex;
			justify-content: start;
			align-items: center;
		}
		.podcastItem:hover {
			transform: scale(1.05);
			z-index: 10;
			background-color: #0176e7;

			ion-chip {
				color: #FFFFFF;
			}
		}
		.podcastItem:hover .title {
			color: #FFFFFF;
		}
		.podcastItem:hover .author {
			color: rgba(255,255,255,0.9);
		}
		.podcastItem:hover .date {
			color: #FFFFFF;
		}
		.podcastItem:hover .subscribeContainer {
			display: block;
		}
	}
}
/*******************************************************
* Modals
*******************************************************/
ion-modal {
	--backdrop-opacity: 0.6 !important;

}
.blueModalHeader {
	ion-toolbar {
		--background: var(--primary-color);
		--color: white;

		@media (min-width: 768px) {
			display: none;
		}

		ion-back-button {
			--color: white;
		}
	}
}
.blueContent {
	--background: var(--primary-color);
}
.autoHeightModal {
	--height: auto;
}
.modalPage {
	display: flex;

	min-height: 100%;

	flex-direction: column;

	@media (min-width: 768px) {
		flex-direction: row;		
	}
	.teaser {
		.teaserContent {
			background-color: var(--primary-color);
			padding: 20px;
			padding-bottom: 20px;

			color: #b5e6ff;

			h2 {
				color: var(--primary-color-text);
				font-size: 40px;
				font-weight: 600;
			}
			p {
				font-size: 24px;
				font-weight: 100;
				color: #FFFFFF;
			}

			.backLink {
				display: none;
			}
			@media (min-width: 768px) {
				.backLink {
					display: block;
				}
			}
		}

		@media (min-width: 768px) {
			width: 300px;

			.teaserContent {
				height: 100%;
			}
			.wave {
				display: none;
			}
		}
	}
	.content {
		flex: 1;
		padding: 0px;

		
		background-color: var(--primary-color-dark);

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		.secondTeaser {
			flex: 1;
			background-color: var(--primary-color);

			font-size: 21px;
			font-weight: 100;
			color: #FFFFFF;

			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 20px;

			.teaserLine {
				display: flex;
				align-items: center;
				ion-icon {
					font-size: 30px;
					margin-right: 10px;
				}
				margin-bottom: 10px;
			}
		}

		.wave {
			display: block;
			width: 100%;
			background-color: var(--primary-color);
		}

		.darkBlueContent {
			padding: 20px;
			padding-top: 0px;
			color: #FFFFFF;

			ion-button {
				&.button-outline {
					--background: #FFFFFF;
				}
			}
			.forgotPasswordLink {
				color: #FFFFFF;
				text-align: right;
				margin-top: 10px;
			}
		}
		ion-spinner {
			transform: scale(2);
		}
		ion-item {
			@media (max-width: 767px) {
				&::part(native) {
					background-color: transparent;
					color: #FFFFFF;
				}
			}
			ion-label {
				ion-icon {
					position: relative;
					top: 3px;
				}
			}
		}
		@media (min-width: 768px) {
			background-color: #FFFFFF;

			.darkBlueContent {
				color: #000000;

				.forgotPasswordLink {
					color: var(--primary-color);
				}
			}
			.secondTeaser {
				background-color: #FFFFFF;
				color: #000000;
				justify-content: center;
				display: flex;
				flex-direction: column;
				padding-bottom: 0px;
			}
			.bluePadding {
				display: none;
			}
			.wave {
				display: none;
			}
		}
	}
}